    <!-- AccessSection -->
    <section id="access" class="content-section text-center">
        <div class="access-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Accessing the CBT</h2>
                    <p>Your journey begins on the <b>4th of July</b> at 9am</p>
                    <a href="https://www.ridinginaction.co.uk/" class="btn btn-default btn-lg">Visit Riding in Action</a>
                </div>
            </div>
        </div>
    </section>